In [116]:
import pandas as pd

In [117]:
df = pd.read_csv('vgsales.csv')

In [118]:
df

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Wii Sports,Wii,2006.0,1,Nintendo,41.49,29.02,3.77,8.46,82.74
1,Super Mario Bros.,NES,1985.0,2,Nintendo,29.08,3.58,6.81,0.77,40.24
2,Mario Kart Wii,Wii,2008.0,3,Nintendo,15.85,12.88,3.79,3.31,35.82
3,Wii Sports Resort,Wii,2009.0,1,Nintendo,15.75,11.01,3.28,2.96,33.00
4,Pokemon Red/Pokemon Blue,GB,1996.0,4,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
16593,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,2,Kemco,0.01,0.00,0.00,0.00,0.01
16594,Men in Black II: Alien Escape,GC,2003.0,7,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,SCORE International Baja 1000: The Official Game,PS2,2008.0,3,Activision,0.00,0.00,0.00,0.00,0.01
16596,Know How 2,DS,2010.0,5,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,Spirits & Spells,GBA,2003.0,2,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [119]:
df.head()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Wii Sports,Wii,2006.0,1,Nintendo,41.49,29.02,3.77,8.46,82.74
1,Super Mario Bros.,NES,1985.0,2,Nintendo,29.08,3.58,6.81,0.77,40.24
2,Mario Kart Wii,Wii,2008.0,3,Nintendo,15.85,12.88,3.79,3.31,35.82
3,Wii Sports Resort,Wii,2009.0,1,Nintendo,15.75,11.01,3.28,2.96,33.00
4,Pokemon Red/Pokemon Blue,GB,1996.0,4,Nintendo,11.27,8.89,10.22,1.00,31.37

In [120]:
df.tail()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
16593,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,2,Kemco,0.01,0.00,0.0,0.0,0.01
16594,Men in Black II: Alien Escape,GC,2003.0,7,Infogrames,0.01,0.00,0.0,0.0,0.01
16595,SCORE International Baja 1000: The Official Game,PS2,2008.0,3,Activision,0.00,0.00,0.0,0.0,0.01
16596,Know How 2,DS,2010.0,5,7G//AMES,0.00,0.01,0.0,0.0,0.01
16597,Spirits & Spells,GBA,2003.0,2,Wanadoo,0.01,0.00,0.0,0.0,0.01

In [121]:
df.describe()

,Year,Genre,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,2006.406443,6.260333,0.264667,0.146652,0.077782,0.048063,0.537441
std,5.828981,3.421823,0.816683,0.505351,0.309291,0.188588,1.555028
min,1980.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,2003.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,2007.000000,7.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,2010.000000,9.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,2020.000000,12.000000,41.490000,29.020000,10.220000,10.570000,82.740000

In [122]:
df.info

<bound method DataFrame.info of                                                    Name Platform    Year  \
0                                            Wii Sports      Wii  2006.0
1                                     Super Mario Bros.      NES  1985.0
2                                        Mario Kart Wii      Wii  2008.0
3                                     Wii Sports Resort      Wii  2009.0
4                              Pokemon Red/Pokemon Blue       GB  1996.0
...                                                 ...      ...     ...
16593                Woody Woodpecker in Crazy Castle 5      GBA  2002.0
16594                     Men in Black II: Alien Escape       GC  2003.0
16595  SCORE International Baja 1000: The Official Game      PS2  2008.0
16596                                        Know How 2       DS  2010.0
16597                                  Spirits & Spells      GBA  2003.0

       Genre   Publisher  NA_Sales  EU_Sales  JP_Sales  Other_Sales  \
0          1    Nintendo     41.49     29.02      3.77         8.46
1          2    Nintendo     29.08      3.58      6.81         0.77
2          3    Nintendo     15.85     12.88      3.79         3.31
3          1    Nintendo     15.75     11.01      3.28         2.96
4          4    Nintendo     11.27      8.89     10.22         1.00
...      ...         ...       ...       ...       ...          ...
16593      2       Kemco      0.01      0.00      0.00         0.00
16594      7  Infogrames      0.01      0.00      0.00         0.00
16595      3  Activision      0.00      0.00      0.00         0.00
16596      5    7G//AMES      0.00      0.01      0.00         0.00
16597      2     Wanadoo      0.01      0.00      0.00         0.00

       Global_Sales
0             82.74
1             40.24
2             35.82
3             33.00
4             31.37
...             ...
16593          0.01
16594          0.01
16595          0.01
16596          0.01
16597          0.01

[16598 rows x 10 columns]>

In [123]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          16598 non-null  object
 1   Platform      16598 non-null  object
 2   Year          16327 non-null  float64
 3   Genre         16598 non-null  int64
 4   Publisher     16540 non-null  object
 5   NA_Sales      16598 non-null  float64
 6   EU_Sales      16598 non-null  float64
 7   JP_Sales      16598 non-null  float64
 8   Other_Sales   16598 non-null  float64
 9   Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 1.3+ MB

In [124]:
df.shape

(16598, 10)

In [125]:
df.isnull().sum()

Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [126]:
df = df.dropna()

In [127]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16291 entries, 0 to 16597
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          16291 non-null  object
 1   Platform      16291 non-null  object
 2   Year          16291 non-null  float64
 3   Genre         16291 non-null  int64
 4   Publisher     16291 non-null  object
 5   NA_Sales      16291 non-null  float64
 6   EU_Sales      16291 non-null  float64
 7   JP_Sales      16291 non-null  float64
 8   Other_Sales   16291 non-null  float64
 9   Global_Sales  16291 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 1.4+ MB

In [128]:
df.sort_values('Global_Sales', ascending = False)

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Wii Sports,Wii,2006.0,1,Nintendo,41.49,29.02,3.77,8.46,82.74
1,Super Mario Bros.,NES,1985.0,2,Nintendo,29.08,3.58,6.81,0.77,40.24
2,Mario Kart Wii,Wii,2008.0,3,Nintendo,15.85,12.88,3.79,3.31,35.82
3,Wii Sports Resort,Wii,2009.0,1,Nintendo,15.75,11.01,3.28,2.96,33.00
4,Pokemon Red/Pokemon Blue,GB,1996.0,4,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
16183,Sakura-Sou no Pet na Kanojo,PSP,2013.0,11,Kadokawa Games,0.00,0.00,0.01,0.00,0.01
16184,Fatal Fury: Battle Archives Volume 2 (JP sales),PS2,2007.0,10,SNK Playmore,0.00,0.00,0.01,0.00,0.01
16185,Tantei Jinguuji Saburo: Hai to Diamond,PSP,2009.0,11,Arc System Works,0.00,0.00,0.01,0.00,0.01
16186,BattleForge,PC,2009.0,12,Electronic Arts,0.00,0.01,0.00,0.00,0.01
16597,Spirits & Spells,GBA,2003.0,2,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [129]:
#Which game has the highest global sales? What is its platform?


df.sort_values('Global_Sales')

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
16597,Spirits & Spells,GBA,2003.0,2,Wanadoo,0.01,0.00,0.00,0.00,0.01
16185,Tantei Jinguuji Saburo: Hai to Diamond,PSP,2009.0,11,Arc System Works,0.00,0.00,0.01,0.00,0.01
16184,Fatal Fury: Battle Archives Volume 2 (JP sales),PS2,2007.0,10,SNK Playmore,0.00,0.00,0.01,0.00,0.01
16183,Sakura-Sou no Pet na Kanojo,PSP,2013.0,11,Kadokawa Games,0.00,0.00,0.01,0.00,0.01
16182,Princess Arthur,PSP,2013.0,6,Idea Factory,0.00,0.00,0.01,0.00,0.01
...,...,...,...,...,...,...,...,...,...,...
4,Pokemon Red/Pokemon Blue,GB,1996.0,4,Nintendo,11.27,8.89,10.22,1.00,31.37
3,Wii Sports Resort,Wii,2009.0,1,Nintendo,15.75,11.01,3.28,2.96,33.00
2,Mario Kart Wii,Wii,2008.0,3,Nintendo,15.85,12.88,3.79,3.31,35.82
1,Super Mario Bros.,NES,1985.0,2,Nintendo,29.08,3.58,6.81,0.77,40.24
0,Wii Sports,Wii,2006.0,1,Nintendo,41.49,29.02,3.77,8.46,82.74

In [130]:
#Which are the platforms in the dataset?

df['Platform'].unique()

array(['Wii', 'NES', 'GB', 'DS', 'X360', 'PS3', 'PS2', 'SNES', 'GBA',
       '3DS', 'PS4', 'N64', 'PS', 'XB', 'PC', '2600', 'PSP', 'XOne', 'GC',
       'WiiU', 'GEN', 'DC', 'PSV', 'SAT', 'SCD', 'WS', 'NG', 'TG16',
       '3DO', 'GG', 'PCFX'], dtype=object)

In [131]:
#Which are the top ten selling games for PS4 (Global sales)? Is this the same for Europe and Japan sales combined?

ps4 = df[df['Platform'] == 'PS4'].sort_values('Global_Sales', ascending = False)
ps4

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
33,Call of Duty: Black Ops 3,PS4,2015.0,7,Activision,5.77,5.81,0.35,2.31,14.24
44,Grand Theft Auto V,PS4,2014.0,9,Take-Two Interactive,3.80,5.81,0.36,2.02,11.98
77,FIFA 16,PS4,2015.0,1,Electronic Arts,1.11,6.06,0.06,1.26,8.49
92,Star Wars Battlefront (2015),PS4,2015.0,7,Electronic Arts,2.93,3.29,0.22,1.23,7.67
93,Call of Duty: Advanced Warfare,PS4,2014.0,7,Activision,2.80,3.30,0.14,1.37,7.60
...,...,...,...,...,...,...,...,...,...,...
16136,Dragon's Dogma Online: Season 2,PS4,2016.0,9,Capcom,0.00,0.00,0.01,0.00,0.01
16095,Resident Evil 5 HD,PS4,2016.0,9,Capcom,0.01,0.00,0.00,0.00,0.01
16048,God Eater Off Shot:Shiou-hen Twin Pack & Anima...,PS4,2016.0,6,Namco Bandai Games,0.00,0.00,0.01,0.00,0.01
16043,Raven's Cry,PS4,2015.0,4,TopWare Interactive,0.00,0.01,0.00,0.00,0.01
16570,Farming 2017 - The Simulation,PS4,2016.0,8,UIG Entertainment,0.00,0.01,0.00,0.00,0.01

In [132]:
ps4.head(10)

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
33,Call of Duty: Black Ops 3,PS4,2015.0,7,Activision,5.77,5.81,0.35,2.31,14.24
44,Grand Theft Auto V,PS4,2014.0,9,Take-Two Interactive,3.80,5.81,0.36,2.02,11.98
77,FIFA 16,PS4,2015.0,1,Electronic Arts,1.11,6.06,0.06,1.26,8.49
92,Star Wars Battlefront (2015),PS4,2015.0,7,Electronic Arts,2.93,3.29,0.22,1.23,7.67
93,Call of Duty: Advanced Warfare,PS4,2014.0,7,Activision,2.80,3.30,0.14,1.37,7.60
109,Fallout 4,PS4,2015.0,4,Bethesda Softworks,2.47,3.15,0.24,1.10,6.96
124,FIFA 15,PS4,2014.0,1,Electronic Arts,0.79,4.29,0.05,1.47,6.59
154,Destiny,PS4,2014.0,7,Activision,2.49,2.05,0.16,0.96,5.65
221,FIFA 17,PS4,2016.0,1,Electronic Arts,0.28,3.75,0.06,0.69,4.77
236,The Last of Us,PS4,2014.0,9,Sony Computer Entertainment,1.78,1.87,0.07,0.82,4.55

In [133]:
#5.2 Is this the same for Europe and Japan sales combined?

df['eu_jp_sales'] = df['EU_Sales'] + df['JP_Sales']
df

C:\Users\klaud\AppData\Local\Temp\ipykernel_16636\4141039910.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['eu_jp_sales'] = df['EU_Sales'] + df['JP_Sales']

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,eu_jp_sales
0,Wii Sports,Wii,2006.0,1,Nintendo,41.49,29.02,3.77,8.46,82.74,32.79
1,Super Mario Bros.,NES,1985.0,2,Nintendo,29.08,3.58,6.81,0.77,40.24,10.39
2,Mario Kart Wii,Wii,2008.0,3,Nintendo,15.85,12.88,3.79,3.31,35.82,16.67
3,Wii Sports Resort,Wii,2009.0,1,Nintendo,15.75,11.01,3.28,2.96,33.00,14.29
4,Pokemon Red/Pokemon Blue,GB,1996.0,4,Nintendo,11.27,8.89,10.22,1.00,31.37,19.11
...,...,...,...,...,...,...,...,...,...,...,...
16593,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,2,Kemco,0.01,0.00,0.00,0.00,0.01,0.00
16594,Men in Black II: Alien Escape,GC,2003.0,7,Infogrames,0.01,0.00,0.00,0.00,0.01,0.00
16595,SCORE International Baja 1000: The Official Game,PS2,2008.0,3,Activision,0.00,0.00,0.00,0.00,0.01,0.00
16596,Know How 2,DS,2010.0,5,7G//AMES,0.00,0.01,0.00,0.00,0.01,0.01
16597,Spirits & Spells,GBA,2003.0,2,Wanadoo,0.01,0.00,0.00,0.00,0.01,0.00

In [134]:
df[df['Platform']=='PS4'].sort_values('eu_jp_sales', ascending = False).head(10)

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,eu_jp_sales
44,Grand Theft Auto V,PS4,2014.0,9,Take-Two Interactive,3.80,5.81,0.36,2.02,11.98,6.17
33,Call of Duty: Black Ops 3,PS4,2015.0,7,Activision,5.77,5.81,0.35,2.31,14.24,6.16
77,FIFA 16,PS4,2015.0,1,Electronic Arts,1.11,6.06,0.06,1.26,8.49,6.12
124,FIFA 15,PS4,2014.0,1,Electronic Arts,0.79,4.29,0.05,1.47,6.59,4.34
221,FIFA 17,PS4,2016.0,1,Electronic Arts,0.28,3.75,0.06,0.69,4.77,3.81
92,Star Wars Battlefront (2015),PS4,2015.0,7,Electronic Arts,2.93,3.29,0.22,1.23,7.67,3.51
93,Call of Duty: Advanced Warfare,PS4,2014.0,7,Activision,2.80,3.30,0.14,1.37,7.60,3.44
109,Fallout 4,PS4,2015.0,4,Bethesda Softworks,2.47,3.15,0.24,1.10,6.96,3.39
271,Uncharted 4: A Thief's End,PS4,2016.0,7,Sony Computer Entertainment,1.30,2.07,0.18,0.65,4.20,2.25
295,Far Cry 4,PS4,2014.0,7,Ubisoft,1.12,2.12,0.10,0.69,4.03,2.22

In [135]:
#How many games were released for XOne in 2016? Which was the top selling in Europe?

df[(df['Platform']=='XOne') & (df['Year']==2016.0)].sort_values('EU_Sales', ascending = False).head(10)

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,eu_jp_sales
1224,FIFA 17,XOne,2016.0,1,Electronic Arts,0.17,1.26,0.00,0.10,1.53,1.26
845,Tom Clancy's The Division,XOne,2016.0,7,Ubisoft,1.20,0.62,0.00,0.18,2.01,0.62
2434,Far Cry: Primal,XOne,2016.0,9,Ubisoft,0.46,0.32,0.00,0.07,0.85,0.32
2444,Overwatch,XOne,2016.0,7,Activision,0.52,0.25,0.00,0.08,0.85,0.25
2991,Doom (2016),XOne,2016.0,7,Bethesda Softworks,0.39,0.23,0.00,0.06,0.68,0.23
5015,Forza Horizon 3,XOne,2016.0,3,Microsoft Game Studios,0.15,0.20,0.00,0.03,0.38,0.20
3927,Quantum Break,XOne,2016.0,9,Microsoft Game Studios,0.27,0.19,0.01,0.04,0.51,0.20
4430,Plants vs. Zombies: Garden Warfare 2,XOne,2016.0,7,Electronic Arts,0.26,0.15,0.00,0.04,0.44,0.15
4820,EA Sports UFC 2,XOne,2016.0,1,Electronic Arts,0.23,0.14,0.00,0.04,0.40,0.14
5595,LEGO Marvel's Avengers,XOne,2016.0,9,Warner Bros. Interactive Entertainment,0.18,0.11,0.00,0.03,0.32,0.11

In [136]:
df['Platform'].replace('XOne', 'X Box One', inplace = True)
df.tail(30)

C:\Users\klaud\AppData\Local\Temp\ipykernel_16636\1413176664.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Platform'].replace('XOne', 'X Box One', inplace = True)

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,eu_jp_sales
16568,XI Coliseum,PSP,2006.0,5,Sony Computer Entertainment,0.00,0.00,0.01,0.0,0.01,0.01
16569,Resident Evil 4 HD,X Box One,2016.0,7,Capcom,0.01,0.00,0.00,0.0,0.01,0.00
16570,Farming 2017 - The Simulation,PS4,2016.0,8,UIG Entertainment,0.00,0.01,0.00,0.0,0.01,0.01
16571,Grisaia no Kajitsu: La Fruit de la Grisaia,PSP,2013.0,11,Prototype,0.00,0.00,0.01,0.0,0.01,0.01
16572,Scarlett: Nichijou no Kyoukaisen,PS2,2008.0,11,Kadokawa Shoten,0.00,0.00,0.01,0.0,0.01,0.01
16573,Mini Desktop Racing,Wii,2007.0,3,Popcorn Arcade,0.01,0.00,0.00,0.0,0.01,0.00
16574,Yattaman Wii: BikkuriDokkiri Machine de Mou Ra...,Wii,2008.0,3,Takara Tomy,0.00,0.00,0.01,0.0,0.01,0.01
16575,Neo Angelique Special,PSP,2008.0,11,Tecmo Koei,0.00,0.00,0.01,0.0,0.01,0.01
16576,Rugby Challenge 3,X Box One,2016.0,1,Alternative Software,0.00,0.01,0.00,0.0,0.01,0.01
16577,Damnation,PC,2009.0,7,Codemasters,0.00,0.01,0.00,0.0,0.01,0.01
16578,Outdoors Unleashed: Africa 3D,3DS,2011.0,1,Mastiff,0.01,0.00,0.00,0.0,0.01,0.00
16579,PGA European Tour,N64,2000.0,1,Infogrames,0.01,0.00,0.00,0.0,0.01,0.00
16580,Real Rode,PS2,2008.0,11,Kadokawa Shoten,0.00,0.00,0.01,0.0,0.01,0.01
16581,Fit & Fun,Wii,2011.0,1,Unknown,0.00,0.01,0.00,0.0,0.01,0.01
16582,Planet Monsters,GBA,2001.0,9,Titus,0.01,0.00,0.00,0.0,0.01,0.00
16583,Carmageddon 64,N64,1999.0,9,Virgin Interactive,0.01,0.00,0.00,0.0,0.01,0.00
16584,Bust-A-Move 3000,GC,2003.0,5,Ubisoft,0.01,0.00,0.00,0.0,0.01,0.00
16585,Breach,PC,2011.0,7,Destineer,0.01,0.00,0.00,0.0,0.01,0.00
16586,Secret Files 2: Puritas Cordis,DS,2009.0,11,Deep Silver,0.00,0.01,0.00,0.0,0.01,0.01
16587,Mezase!! Tsuri Master DS,DS,2009.0,1,Hudson Soft,0.00,0.00,0.01,0.0,0.01,0.01
16588,Mega Brain Boost,DS,2008.0,5,Majesco Entertainment,0.01,0.00,0.00,0.0,0.01,0.00
16589,Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shiru...,PSV,2016.0,9,dramatic create,0.00,0.00,0.01,0.0,0.01,0.01
16590,Eiyuu Densetsu: Sora no Kiseki Material Collec...,PSP,2007.0,4,Falcom Corporation,0.00,0.00,0.01,0.0,0.01,0.01
16591,Myst IV: Revelation,PC,2004.0,11,Ubisoft,0.01,0.00,0.00,0.0,0.01,0.00
16592,Plushees,DS,2008.0,8,Destineer,0.01,0.00,0.00,0.0,0.01,0.00
16593,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,2,Kemco,0.01,0.00,0.00,0.0,0.01,0.00
16594,Men in Black II: Alien Escape,GC,2003.0,7,Infogrames,0.01,0.00,0.00,0.0,0.01,0.00
16595,SCORE International Baja 1000: The Official Game,PS2,2008.0,3,Activision,0.00,0.00,0.00,0.0,0.01,0.00
16596,Know How 2,DS,2010.0,5,7G//AMES,0.00,0.01,0.00,0.0,0.01,0.01
16597,Spirits & Spells,GBA,2003.0,2,Wanadoo,0.01,0.00,0.00,0.0,0.01,0.00

In [137]:
#How many PC games have higher sales than 3 million global sales?

df[(df['Platform']=='PC') & (df['Global_Sales'] > 3.0)].count()

Name            12
Platform        12
Year            12
Genre           12
Publisher       12
NA_Sales        12
EU_Sales        12
JP_Sales        12
Other_Sales     12
Global_Sales    12
eu_jp_sales     12
dtype: int64

In [138]:
#In which year the most games were released?

df.groupby('Year').count().sort_values('Name', ascending = False)

,Name,Platform,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,eu_jp_sales
Year,,,,,,,,,,
2009.0,1431,1431,1431,1431,1431,1431,1431,1431,1431,1431
2008.0,1428,1428,1428,1428,1428,1428,1428,1428,1428,1428
2010.0,1257,1257,1257,1257,1257,1257,1257,1257,1257,1257
2007.0,1201,1201,1201,1201,1201,1201,1201,1201,1201,1201
2011.0,1136,1136,1136,1136,1136,1136,1136,1136,1136,1136
2006.0,1008,1008,1008,1008,1008,1008,1008,1008,1008,1008
2005.0,936,936,936,936,936,936,936,936,936,936
2002.0,829,829,829,829,829,829,829,829,829,829
2003.0,775,775,775,775,775,775,775,775,775,775
2004.0,744,744,744,744,744,744,744,744,744,744
2012.0,655,655,655,655,655,655,655,655,655,655
2015.0,614,614,614,614,614,614,614,614,614,614
2014.0,580,580,580,580,580,580,580,580,580,580
2013.0,546,546,546,546,546,546,546,546,546,546
2001.0,482,482,482,482,482,482,482,482,482,482
1998.0,379,379,379,379,379,379,379,379,379,379
2000.0,349,349,349,349,349,349,349,349,349,349
2016.0,342,342,342,342,342,342,342,342,342,342
1999.0,338,338,338,338,338,338,338,338,338,338
1997.0,289,289,289,289,289,289,289,289,289,289
1996.0,263,263,263,263,263,263,263,263,263,263
1995.0,219,219,219,219,219,219,219,219,219,219
1994.0,121,121,121,121,121,121,121,121,121,121
1993.0,60,60,60,60,60,60,60,60,60,60
1981.0,46,46,46,46,46,46,46,46,46,46
1992.0,43,43,43,43,43,43,43,43,43,43
1991.0,41,41,41,41,41,41,41,41,41,41
1982.0,36,36,36,36,36,36,36,36,36,36
1986.0,21,21,21,21,21,21,21,21,21,21
1989.0,17,17,17,17,17,17,17,17,17,17
1983.0,17,17,17,17,17,17,17,17,17,17
1987.0,16,16,16,16,16,16,16,16,16,16
1990.0,16,16,16,16,16,16,16,16,16,16
1988.0,15,15,15,15,15,15,15,15,15,15
1985.0,14,14,14,14,14,14,14,14,14,14
1984.0,14,14,14,14,14,14,14,14,14,14
1980.0,9,9,9,9,9,9,9,9,9,9
2017.0,3,3,3,3,3,3,3,3,3,3
2020.0,1,1,1,1,1,1,1,1,1,1

In [139]:
#Which platform had the most releases that year?

df[df['Year']==2009.0].sort_values('Global_Sales', ascending=False)

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,eu_jp_sales
3,Wii Sports Resort,Wii,2009.0,1,Nintendo,15.75,11.01,3.28,2.96,33.00,14.29
8,New Super Mario Bros. Wii,Wii,2009.0,2,Nintendo,14.59,7.06,4.70,2.26,28.62,11.76
14,Wii Fit Plus,Wii,2009.0,1,Nintendo,9.09,8.59,2.53,1.79,22.00,11.12
36,Call of Duty: Modern Warfare 2,X360,2009.0,7,Activision,8.52,3.63,0.08,1.29,13.51,3.71
45,Pokemon HeartGold/Pokemon SoulSilver,DS,2009.0,9,Nintendo,4.40,2.77,3.96,0.77,11.90,6.73
...,...,...,...,...,...,...,...,...,...,...,...
16173,Tactics Layer: Ritina Guard Senki,DS,2009.0,12,D3Publisher,0.00,0.00,0.01,0.00,0.01,0.01
16172,Military History: Commander - Europe at War,DS,2009.0,12,Slitherine Software,0.00,0.01,0.00,0.00,0.01,0.01
16170,Shepherd's Crossing,PSP,2009.0,8,Success,0.00,0.00,0.01,0.00,0.01,0.01
16166,Smiley World: Island Challenge,DS,2009.0,5,Zoo Digital Publishing,0.01,0.00,0.00,0.00,0.01,0.00
16587,Mezase!! Tsuri Master DS,DS,2009.0,1,Hudson Soft,0.00,0.00,0.01,0.00,0.01,0.01

In [140]:
df.groupby('Platform').count().sort_values('Name', ascending = False)

,Name,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,eu_jp_sales
Platform,,,,,,,,,,
DS,2131,2131,2131,2131,2131,2131,2131,2131,2131,2131
PS2,2127,2127,2127,2127,2127,2127,2127,2127,2127,2127
PS3,1304,1304,1304,1304,1304,1304,1304,1304,1304,1304
Wii,1290,1290,1290,1290,1290,1290,1290,1290,1290,1290
X360,1234,1234,1234,1234,1234,1234,1234,1234,1234,1234
PSP,1197,1197,1197,1197,1197,1197,1197,1197,1197,1197
PS,1189,1189,1189,1189,1189,1189,1189,1189,1189,1189
PC,938,938,938,938,938,938,938,938,938,938
XB,803,803,803,803,803,803,803,803,803,803
GBA,786,786,786,786,786,786,786,786,786,786
GC,542,542,542,542,542,542,542,542,542,542
3DS,499,499,499,499,499,499,499,499,499,499
PSV,410,410,410,410,410,410,410,410,410,410
PS4,336,336,336,336,336,336,336,336,336,336
N64,316,316,316,316,316,316,316,316,316,316
SNES,239,239,239,239,239,239,239,239,239,239
X Box One,213,213,213,213,213,213,213,213,213,213
SAT,173,173,173,173,173,173,173,173,173,173
WiiU,143,143,143,143,143,143,143,143,143,143
2600,116,116,116,116,116,116,116,116,116,116
NES,98,98,98,98,98,98,98,98,98,98
GB,97,97,97,97,97,97,97,97,97,97
DC,52,52,52,52,52,52,52,52,52,52
GEN,27,27,27,27,27,27,27,27,27,27
NG,12,12,12,12,12,12,12,12,12,12
SCD,6,6,6,6,6,6,6,6,6,6
WS,6,6,6,6,6,6,6,6,6,6
3DO,3,3,3,3,3,3,3,3,3,3
TG16,2,2,2,2,2,2,2,2,2,2
PCFX,1,1,1,1,1,1,1,1,1,1
GG,1,1,1,1,1,1,1,1,1,1

In [141]:
#Which are the top 5 selling platforms (games global sales) of all time? Plot your results in a graph

df

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,eu_jp_sales
0,Wii Sports,Wii,2006.0,1,Nintendo,41.49,29.02,3.77,8.46,82.74,32.79
1,Super Mario Bros.,NES,1985.0,2,Nintendo,29.08,3.58,6.81,0.77,40.24,10.39
2,Mario Kart Wii,Wii,2008.0,3,Nintendo,15.85,12.88,3.79,3.31,35.82,16.67
3,Wii Sports Resort,Wii,2009.0,1,Nintendo,15.75,11.01,3.28,2.96,33.00,14.29
4,Pokemon Red/Pokemon Blue,GB,1996.0,4,Nintendo,11.27,8.89,10.22,1.00,31.37,19.11
...,...,...,...,...,...,...,...,...,...,...,...
16593,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,2,Kemco,0.01,0.00,0.00,0.00,0.01,0.00
16594,Men in Black II: Alien Escape,GC,2003.0,7,Infogrames,0.01,0.00,0.00,0.00,0.01,0.00
16595,SCORE International Baja 1000: The Official Game,PS2,2008.0,3,Activision,0.00,0.00,0.00,0.00,0.01,0.00
16596,Know How 2,DS,2010.0,5,7G//AMES,0.00,0.01,0.00,0.00,0.01,0.01
16597,Spirits & Spells,GBA,2003.0,2,Wanadoo,0.01,0.00,0.00,0.00,0.01,0.00

In [142]:
df.groupby('Platform').min()[['Year', 'Global_Sales']]

             Year  Global_Sales
Platform
2600       1980.0          0.07
3DO        1994.0          0.02
3DS        2011.0          0.01
DC         1998.0          0.02
DS         1985.0          0.01
GB         1988.0          0.06
GBA        2000.0          0.01
GC         2001.0          0.01
GEN        1990.0          0.03
GG         1992.0          0.04
N64        1996.0          0.01
NES        1983.0          0.06
NG         1993.0          0.02
PC         1985.0          0.01
PCFX       1996.0          0.03
PS         1994.0          0.01
PS2        2000.0          0.01
PS3        2006.0          0.01
PS4        2013.0          0.01
PSP        2004.0          0.01
PSV        2011.0          0.01
SAT        1994.0          0.02
SCD        1993.0          0.05
SNES       1990.0          0.01
TG16       1995.0          0.02
WS         1999.0          0.03
Wii        2006.0          0.01
WiiU       2012.0          0.01
X Box One  2013.0          0.01
X360       2005.0          0.01
XB         2000.0          0.01

In [143]:
#Which are the top 5 selling platforms (games global sales) of all time?

df.groupby('Platform').sum().sort_values('Global_Sales', ascending = False).head(5)

,Year,Genre,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,eu_jp_sales
Platform,,,,,,,,
PS2,4263750.0,12738,572.92,332.63,137.54,190.47,1233.46,470.17
X360,2480191.0,7651,594.33,278.00,12.30,84.67,969.60,290.30
PS3,2622109.0,8254,388.90,340.47,79.21,140.81,949.35,419.68
Wii,2591562.0,7480,497.37,264.35,68.28,79.20,909.81,332.63
DS,4279469.0,14283,388.53,194.05,175.02,60.29,818.91,369.07

In [144]:
df.groupby('Platform').sum().sort_values('Global_Sales', ascending = False)

,Year,Genre,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,eu_jp_sales
Platform,,,,,,,,
PS2,4263750.0,12738,572.92,332.63,137.54,190.47,1233.46,470.17
X360,2480191.0,7651,594.33,278.00,12.30,84.67,969.60,290.30
PS3,2622109.0,8254,388.90,340.47,79.21,140.81,949.35,419.68
Wii,2591562.0,7480,497.37,264.35,68.28,79.20,909.81,332.63
DS,4279469.0,14283,388.53,194.05,175.02,60.29,818.91,369.07
PS,2375627.0,6980,334.71,212.38,139.78,40.69,727.39,352.16
GBA,1574496.0,4285,178.43,72.49,46.56,7.51,305.62,119.05
PSP,2404440.0,8218,107.09,67.16,75.89,41.52,291.71,143.05
PS4,677042.0,2214,96.80,123.70,14.30,43.36,278.10,138.00
PC,1884220.0,7241,92.04,137.35,0.17,24.33,254.70,137.52
GB,193608.0,498,113.64,47.51,85.12,8.16,254.42,132.63
XB,1608920.0,4433,182.06,59.65,1.38,8.48,252.09,61.03
NES,194741.0,425,125.94,21.15,98.65,5.31,251.07,119.80
3DS,1004517.0,3466,78.03,58.29,97.30,12.55,246.27,155.59
N64,631536.0,1529,138.91,41.03,33.76,4.31,218.21,74.79
SNES,476529.0,1219,61.23,19.04,116.55,3.22,200.05,135.59
GC,1085843.0,2888,131.94,38.32,21.34,5.13,197.14,59.66
X Box One,429150.0,1348,83.19,45.65,0.34,11.92,141.06,45.99
2600,229928.0,788,80.78,4.86,0.00,0.84,86.57,4.86
WiiU,287944.0,983,38.32,24.23,12.79,6.45,81.86,37.02
PSV,825750.0,3070,16.07,16.27,20.86,8.41,61.60,37.13
SAT,345313.0,1282,0.72,0.54,32.26,0.07,33.59,32.80
GEN,53812.0,156,19.27,5.52,2.67,0.89,28.36,8.19
DC,103997.0,345,5.43,1.69,8.56,0.27,15.97,10.25
SCD,11963.0,33,1.00,0.36,0.45,0.05,1.87,0.81
NG,23934.0,111,0.00,0.00,1.44,0.00,1.44,1.44
WS,12000.0,40,0.00,0.00,1.42,0.00,1.42,1.42
TG16,3990.0,18,0.00,0.00,0.16,0.00,0.16,0.16
3DO,5984.0,24,0.00,0.00,0.10,0.00,0.10,0.10
GG,1992.0,2,0.00,0.00,0.04,0.00,0.04,0.04
PCFX,1996.0,4,0.00,0.00,0.03,0.00,0.03,0.03

In [145]:
#Which are the top three publishers in EU game sales?

df.groupby('Publisher').sum().sort_values('EU_Sales', ascending = False)

,Year,Genre,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,eu_jp_sales
Publisher,,,,,,,,
Nintendo,1394666.0,3809,815.75,418.30,454.99,95.19,1784.43,873.29
Electronic Arts,2686562.0,6002,584.22,367.38,13.98,127.63,1093.39,381.36
Activision,1938979.0,5948,426.01,213.72,6.54,74.79,721.41,220.26
Sony Computer Entertainment,1367034.0,3656,265.22,187.55,74.10,80.40,607.28,261.65
Ubisoft,1843194.0,6059,252.81,163.03,7.33,50.16,473.54,170.36
...,...,...,...,...,...,...,...,...
Epoch,13962.0,20,0.00,0.00,0.99,0.06,1.05,0.99
NEC,5987.0,19,0.00,0.00,0.43,0.00,0.43,0.43
NCS,5991.0,36,0.00,0.00,0.40,0.00,0.40,0.40
Imadio,1997.0,11,0.00,0.00,0.14,0.00,0.14,0.14
Fields,2012.0,6,0.00,0.00,0.03,0.00,0.03,0.03

In [146]:
#Use map and the following dictionary to replace the genres.


dic = {
1:'Sports',
2:'Platform',
3:'Racing',
4:'Role-Playing',
5:'Puzzle',
6:'Misc',
7:'Shooter',
8:'Simulation',
9:'Action',
10:'Fighting',
11:'Adventure',
12:'Strategy'}

In [147]:
def convert_gerne(x):
    return dic[x]

df['Genre'] = list(map(convert_gerne, df['Genre']))
df

C:\Users\klaud\AppData\Local\Temp\ipykernel_16636\2957923159.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Genre'] = list(map(convert_gerne, df['Genre']))

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,eu_jp_sales
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,32.79
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,10.39
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,16.67
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,14.29
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,19.11
...,...,...,...,...,...,...,...,...,...,...,...
16593,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01,0.00
16594,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01,0.00
16595,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01,0.00
16596,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01,0.01
16597,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,0.00

In [148]:
top_genres = df.groupby('Genre').count().sort_values(['Name'], ascending = False)
top_genres.head()

,Name,Platform,Year,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,eu_jp_sales
Genre,,,,,,,,,,
Action,3251,3251,3251,3251,3251,3251,3251,3251,3251,3251
Sports,2304,2304,2304,2304,2304,2304,2304,2304,2304,2304
Misc,1686,1686,1686,1686,1686,1686,1686,1686,1686,1686
Role-Playing,1470,1470,1470,1470,1470,1470,1470,1470,1470,1470
Shooter,1282,1282,1282,1282,1282,1282,1282,1282,1282,1282

In [149]:
df_2014 = df[df['Year'] == 2014]
df_2014.head()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,eu_jp_sales
44,Grand Theft Auto V,PS4,2014.0,Action,Take-Two Interactive,3.80,5.81,0.36,2.02,11.98,6.17
49,Pokemon Omega Ruby/Pokemon Alpha Sapphire,3DS,2014.0,Role-Playing,Nintendo,4.23,3.37,3.08,0.65,11.33,6.45
93,Call of Duty: Advanced Warfare,PS4,2014.0,Shooter,Activision,2.80,3.30,0.14,1.37,7.60,3.44
97,Super Smash Bros. for Wii U and 3DS,3DS,2014.0,Fighting,Nintendo,3.24,1.35,2.42,0.43,7.45,3.77
108,Mario Kart 8,WiiU,2014.0,Racing,Nintendo,3.13,2.07,1.27,0.49,6.96,3.34

In [150]:
top_genres_2014 = df_2014.groupby('Genre').count().sort_values(['Name'], ascending = False).head()
top_genres_2014

,Name,Platform,Year,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,eu_jp_sales
Genre,,,,,,,,,,
Action,186,186,186,186,186,186,186,186,186,186
Role-Playing,90,90,90,90,90,90,90,90,90,90
Adventure,75,75,75,75,75,75,75,75,75,75
Sports,55,55,55,55,55,55,55,55,55,55
Shooter,47,47,47,47,47,47,47,47,47,47

In [151]:
df_2015 = df[df['Year'] == 2015]
df_2015.head()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,eu_jp_sales
33,Call of Duty: Black Ops 3,PS4,2015.0,Shooter,Activision,5.77,5.81,0.35,2.31,14.24,6.16
77,FIFA 16,PS4,2015.0,Sports,Electronic Arts,1.11,6.06,0.06,1.26,8.49,6.12
92,Star Wars Battlefront (2015),PS4,2015.0,Shooter,Electronic Arts,2.93,3.29,0.22,1.23,7.67,3.51
101,Call of Duty: Black Ops 3,X Box One,2015.0,Shooter,Activision,4.52,2.09,0.01,0.67,7.30,2.10
109,Fallout 4,PS4,2015.0,Role-Playing,Bethesda Softworks,2.47,3.15,0.24,1.10,6.96,3.39

In [152]:
top_genres_2015 = df_2015.groupby('Genre').count().sort_values(['Name'], ascending = False).head()
top_genres_2015

,Name,Platform,Year,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,eu_jp_sales
Genre,,,,,,,,,,
Action,255,255,255,255,255,255,255,255,255,255
Role-Playing,78,78,78,78,78,78,78,78,78,78
Sports,62,62,62,62,62,62,62,62,62,62
Adventure,54,54,54,54,54,54,54,54,54,54
Misc,39,39,39,39,39,39,39,39,39,39

In [153]:
df_2016 = df[df['Year'] == 2016]
df_2016.head()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,eu_jp_sales
221,FIFA 17,PS4,2016.0,Sports,Electronic Arts,0.28,3.75,0.06,0.69,4.77,3.81
271,Uncharted 4: A Thief's End,PS4,2016.0,Shooter,Sony Computer Entertainment,1.30,2.07,0.18,0.65,4.20,2.25
351,Tom Clancy's The Division,PS4,2016.0,Shooter,Ubisoft,1.28,1.61,0.15,0.57,3.61,1.76
770,Far Cry: Primal,PS4,2016.0,Action,Ubisoft,0.59,1.16,0.06,0.33,2.13,1.22
845,Tom Clancy's The Division,X Box One,2016.0,Shooter,Ubisoft,1.20,0.62,0.00,0.18,2.01,0.62

In [154]:
top_genres_2016 = df_2016.groupby('Genre').count().sort_values(['Name'], ascending = False).head()
top_genres_2016

,Name,Platform,Year,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,eu_jp_sales
Genre,,,,,,,,,,
Action,118,118,118,118,118,118,118,118,118,118
Role-Playing,40,40,40,40,40,40,40,40,40,40
Sports,38,38,38,38,38,38,38,38,38,38
Adventure,33,33,33,33,33,33,33,33,33,33
Shooter,32,32,32,32,32,32,32,32,32,32